.list.list-default.placeholder {
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-modify: read-only !important;
}

.list.list-default ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.list.list-default ul > li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list.list-default ul > li .list-desc {
  position: relative;
}

.list.list-default ul > li .list-title {
  font-size: 1em;
  margin: 0;
}

.list.list-default ul > li p + p {
  color: rgba(51,51,51,0.5);
  margin: 0;
  font-size: 14px;
  margin-top: 0.2em;
}

.list.list-default ul > li.linked {
  padding-right: 22px;
  cursor: pointer;
}

.list.list-default ul > li.linked:after {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  width: 22px;
  height: 44px;
  top: 50%;
  right: 0;
  margin-top: -22px;
  color: rgba(51, 51, 51, 0.4);
  font-size: 26px;
  line-height: 44px;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list.list-default ul > li.linked:active {
  background-color: rgba(51, 51, 51, 0.06);
}