/* IMPORT jQuery UI CSS via CDN */
@import url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css);

body {
  cursor: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

.fl-widget-provider {
  border: 0;
  width: 100%;
  background-color: transparent;
}

#action {
  overflow: hidden;
}

.form-horizontal {
  height: 100%;
  padding: 15px;
  overflow: auto;
}

.add-link {
  margin-top: 10px;
}

.btn-link.text-danger {
  color: #d9534f;
}

.btn-link:active.text-danger,
.btn-link:active:focus.text-danger,
.btn-link:active:hover.text-danger,
.btn-link:focus.text-danger,
.btn-link:hover.text-danger {
  color: #c9302c;
}

.radio.radio-icon+.radio.radio-icon {
  margin-top: 0;
}

.radio.radio-icon input[type="radio"] + label {
  padding-left: 15px;
}

.tab-content {
  padding: 15px 0 0;
}

.tab-pane-content {
  overflow: hidden;
}

.panel-group {
  -webkit-user-select: none;
}

.panel {
  opacity: 1;
  -webkit-transition: opacity 100ms linear;
}

.panel.focus {
  opacity: 0.7;
}

.panel-group .panel {
  overflow: hidden;
}

.panel.focus .glyphicon-remove {
  opacity: 0 !important;
  -webkit-transition: opacity 50ms linear;
}

.panel-heading {
  position: relative;
  padding: 0;
}

.panel-heading:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.panel-heading h4 {
  padding: 10px 40px 10px 6px;
}

.panel-heading .fa-chevron-down,
.panel-heading .fa-chevron-right {
  margin-right: 10px;
}

.panel-title .fa {
  cursor: pointer;
}

.panel-heading .icon-delete {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  color: #E60000;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.panel-heading:hover .icon-delete {
  opacity: 1;
}

.panel-heading .screen-reorder-handle {
  display: block;
  width: 2.4rem;
  float: left;
  margin-right: 6px;
  text-align: center;
  border-right: 1px solid #999;
  opacity: 0.7;
  line-height: 18px;
}

.panel-collapse {
  opacity: 0;
}

.panel-collapse.in {
  opacity: 1;
  -webkit-transition: opacity 0.1s linear;
}

.placeholder {
  border: 1px solid rgb(0, 171, 210);
  background-color: #f4f1f2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px 0 inset, rgba(0, 171, 210, 0.4) 0 0 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px 0 inset, rgba(0, 171, 210, 0.4) 0 0 6px 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px 0 inset, rgba(0, 171, 210, 0.4) 0 0 6px 0;
}

.tile {
  height: 40px;
}

.panels-empty {
  text-align: center;
  margin-bottom: 40px;
  display: none;
}

#accordion {
  display: block;
}

.list-items-empty .panels-empty {
  display: block;
}

.list-items-empty #accordion {
  display: none;
}

.controls {
  opacity: 1;
  text-align: center;
}

.controls .btn-link {
  color: #333;
}

.controls .expand-items {
  font-size: 0.9em;
}

.list-items-empty .controls .expand-items {
  display: none;
}

.controls.not-show {
  opacity: 0;
}

.controls-sticky {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: rgba(248, 246, 247, 0.9);
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 10px 15px 0;
  z-index: 10;
}

.controls-sticky-on .controls {
  visibility: hidden;
}

.controls-sticky-on .controls-sticky {
  visibility: visible;
  display: block;
}
/* FORMS */
.panel-body {
  padding: 0;
}

textarea.form-control {
  line-height: 18px;
  padding: 15px;
}

.input-group .form-control {
  height: 46px;
}

.input-group-addon {
  border-radius: 6px;
}

.linked-to {
  margin-top: 10px;
}

.linked-to strong {
  color: #14505e;
}

#saved-list-field {
  display: none;
}
